*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{

    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}

.display{

    font-size: 3em;
    text-align: right;
    color: cornsilk;
    padding: 10px;
    
}
.keys, .operator{

    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
    font-size: 1.3em;
    font-weight: bold;
    border: none;
    outline: none;
    color: darkgrey;
    background: #444;
    cursor: pointer;
}

.keys:active{

    background: #222;
}

.operator{
    background: chocolate;
    color: #fff;
}

.operator:active{

    background: coral;
}

.zero{

    width: 113px;
    border-radius: 50px;
}

.reset:active, .back:active{

    background : firebrick;
}

.reset, .back{

    background: crimson;
    color: darkgrey;
}
